:root {
    --white: #ffffff;
    --light: #eceff1;
    --light-hover: #cfd8dc;
    --silver: #b0bec5;
    --grey: #607d8b;
    --grey-hover: #546e7a;
    --dark: #37474f;
    --dark-hover: #263238;
    --default: #ff6666;
    --default-hover: #ff5555;
    --blue: #1e88e5;
    --blue-hover: #1976d2;
    --green: #43a047;
    --green-hover: #43a047;
    --yellow: #ffb300;
    --yellow-hover: #ffa000;
    --red: #f44336;
    --red-hover: #e53935;
    --orange: #ff9800;
    --orange-hover: #fb8c00;
    --brown: #795548;
    --brown-hover: #6d4c41;
    --cyan: #00acc1;
    --cyan-hover: #00bcd4;
    --teal: #009688;
    --teal-hover: #00897b;
    --indigo: #3f51b5;
    --indigo-hover: #3949ab;
    --lime: #7cb342;
    --lime-hover: #689f38;
    --purple: #673ab7;
    --purple-hover: #5e35b1;
    --tomato: #f4511e;
    --tomato-hover: #e64a19;
    --magenta: #9c27b0;
    --magenta-hover: #8e24aa;
    --pink: #e91e63;
    --pink-hover: #d81b60;
    --alert-grey-bg: #cfd8dc;
    --alert-grey-border: 1px solid #b0bec5;
    --alert-dark-bg: #b0bec5;
    --alert-dark-border: 1px solid #90a4ae;
    --alert-blue: #0d4372;
    --alert-blue-bg: #a4cff4;
    --alert-blue-border: 1px solid #76b6ef;
    --alert-green: #265a28;
    --alert-green-bg: #b7e1b9;
    --alert-green-border: 1px solid #93d296;
    --alert-yellow: #804c00;
    --alert-yellow-bg: #ffd699;
    --alert-yellow-border: 1px solid #ffc166;
    --alert-red: #790e07;
    --alert-red-bg: #faa59e;
    --alert-red-border: 1px solid #f88e86;
    --alert-cyan: #12636d;
    --alert-cyan-bg: #a7e8f1;
    --alert-cyan-border: 1px solid #80deea;
    --border-transparent: 1px solid transparent;
    --border-white: 1px solid #ffffff;
    --border-light: 1px solid #26323820;
    --border-grey: 1px solid var(--grey);
    --border-dark: 1px solid var(--dark);
    --border-default: 1px solid var(--default);
    --border-blue: 1px solid var(--blue);
    --border-green: 1px solid var(--green);
    --border-yellow: 1px solid var(--yellow);
    --border-red: 1px solid var(--red);
    --border-indigo: 1px solid var(--indigo);
    --border-teal: 1px solid var(--teal);
    --border-orange: 1px solid var(--orange);
    --border-brown: 1px solid var(--brown);
    --border-purple: 1px solid var(--purple);
    --border-lime: 1px solid var(--lime);
    --border-tomato: 1px solid var(--tomato);
    --border-magenta: 1px solid var(--magenta);
    --border-cyan: 1px solid var(--cyan);
    --border-pink: 1px solid var(--pink);
    --border-radius: 0.5rem;
    --shadow-light: 0 0 0.75rem 0 rgba(0, 0, 0, 0.1);
    --shadow-medium: 0 0 1.5rem 0 rgba(0, 0, 0, 0.2);
    --shadow-dark: 0 0 1rem 0 #20252a40;
    --shadow-input: 0 0 0 0.2rem rgba(0, 0, 0, 0.1);
    --button-transform: translateY(0.25rem);
    --alert-dismiss-transform: translateX(100%);
    --margin: 0.75rem;
    --padding: 0.75rem;
    --padding-input-y: 0.625rem;
    --padding-input-x: 1.125rem;
    --aside-top: calc(1.5rem + (4 * var(--padding-input-y)) + 4px);
    --font-family: "Open Sans";
    --font-size: 1rem;
    --font-light: 300;
    --font-normal: 400;
    --font-bold: 500;
}

* {
    margin: 0;
    padding: 0;
    font-family: var(--font-family);
    font-size: var(--font-size);
    font-weight: var(--font-normal);
    letter-spacing: 0.01rem;
    line-height: 1.5rem;
    box-shadow: none;
    text-shadow: none;
    outline: 0;
    border: 0;
    color: var(--dark);
    box-sizing: border-box;
    border-radius: 0;
    -webkit-appearance: none;
    -moz-appearance: none;
}

*:-ms-input-placeholder {
    color: var(--silver) !important;
}

*::-moz-placeholder {
    color: var(--silver) !important;
}

*::-webkit-input-placeholder {
    color: var(--silver) !important;
}

*::-webkit-file-upload-button {
    -webkit-appearance: none;
}

*::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

*::-webkit-outer-spin-button {
    -webkit-appearance: none;
}

*::-moz-focus-inner,
*::-moz-focus-outer {
    border: 0;
}

/** HTML, BODY **/
html,
body {
    display: block;
    /* height: 100%;
    display: flex;
    flex-direction: column;
    overflow-x: hidden; */
    font-size: 1rem;
}

/** CONTAINER **/
.container {
    width: 100%;
    margin-left: auto;
    margin: auto;
}

/** BACKGROUNDS **/
.bg-white {
    background-color: var(--white) !important;
    border: var(--border-transparent);
}

.out-white {
    color: var(--white);
    background-color: transparent;
    border: var(--border-white);
}

button.bg-white,
a.bg-white {
    border: var(--border-light);
}

button.bg-white:hover,
button.bg-white:focus,
a.bg-white:hover,
a.bg-white:focus {
    background-color: var(--light) !important;
}

button.out-white:hover,
button.out-white:focus,
a.out-white:hover,
a.out-white:focus {
    color: var(--dark);
    background-color: var(--white);
}

.bg-light {
    color: var(--dark);
    background-color: var(--light) !important;
    border: var(--border-transparent);
}

.bg-grey {
    color: var(--white) !important;
    background-color: var(--grey) !important;
    border: var(--border-transparent);
}

button.bg-grey:hover,
button.bg-grey:focus,
a.bg-grey:hover,
a.bg-grey:focus {
    background-color: var(--grey-hover) !important;
}

.out-grey {
    color: var(--grey);
    background-color: transparent;
    border: var(--border-grey);
}

button.out-grey:hover,
button.out-grey:focus,
a.out-grey:hover,
a.out-grey:focus {
    color: var(--white);
    background-color: var(--grey);
}

.bg-dark {
    color: var(--white) !important;
    background-color: var(--dark) !important;
    border: var(--border-transparent);
}

button.bg-dark:hover,
button.bg-dark:focus,
a.bg-dark:hover,
a.bg-dark:focus {
    background-color: var(--dark-hover) !important;
}

.out-dark {
    color: var(--dark);
    background-color: transparent;
    border: var(--border-dark);
}

button.out-dark:hover,
button.out-dark:focus,
a.out-dark:hover,
a.out-dark:focus {
    color: var(--white);
    background-color: var(--dark);
}

.bg-default {
    color: var(--white) !important;
    background-color: var(--default) !important;
    border: var(--border-transparent);
}

button.bg-default:hover,
button.bg-default:focus,
a.bg-default:hover,
a.bg-default:focus {
    background-color: var(--default-hover) !important;
}

.out-default {
    color: var(--default);
    background-color: transparent;
    border: var(--border-default);
}

button.out-default:hover,
button.out-default:focus,
a.out-default:hover,
a.out-default:focus {
    color: var(--white);
    background-color: var(--default);
}

.bg-blue {
    color: var(--white) !important;
    background-color: var(--blue) !important;
    border: var(--border-transparent);
}

button.bg-blue:hover,
button.bg-blue:focus,
a.bg-blue:hover,
a.bg-blue:focus {
    background-color: var(--blue-hover) !important;
}

.out-blue {
    color: var(--blue);
    background-color: transparent;
    border: var(--border-blue);
}

button.out-blue:hover,
button.out-blue:focus,
a.out-blue:hover,
a.out-blue:focus {
    color: var(--white);
    background-color: var(--blue);
}

.bg-green {
    color: var(--white) !important;
    background-color: var(--green) !important;
    border: var(--border-transparent);
}

button.bg-green:hover,
button.bg-green:focus,
a.bg-green:hover,
a.bg-green:focus {
    background-color: var(--green-hover) !important;
}

.out-green {
    color: var(--green);
    background-color: transparent;
    border: var(--border-green);
}

button.out-green:hover,
button.out-green:focus,
a.out-green:hover,
a.out-green:focus {
    color: var(--white);
    background-color: var(--green);
}

.bg-yellow {
    color: var(--white) !important;
    background-color: var(--yellow) !important;
    border: var(--border-transparent);
}

button.bg-yellow:hover,
button.bg-yellow:focus,
a.bg-yellow:hover,
a.bg-yellow:focus {
    background-color: var(--yellow-hover) !important;
}

.out-yellow {
    color: var(--yellow);
    background-color: transparent;
    border: var(--border-yellow);
}

button.out-yellow:hover,
button.out-yellow:focus,
a.out-yellow:hover,
a.out-yellow:focus {
    color: var(--white);
    background-color: var(--yellow);
}

.bg-red {
    color: var(--white) !important;
    background-color: var(--red) !important;
    border: var(--border-transparent);
}

button.bg-red:hover,
button.bg-red:focus,
a.bg-red:hover,
a.bg-red:focus {
    background-color: var(--red-hover) !important;
}

.out-red {
    color: var(--red);
    background-color: transparent;
    border: var(--border-red);
}

button.out-red:hover,
button.out-red:focus,
a.out-red:hover,
a.out-red:focus {
    color: var(--white);
    background-color: var(--red);
}

.bg-indigo {
    color: var(--white) !important;
    background-color: var(--indigo) !important;
    border: var(--border-transparent);
}

button.bg-indigo:hover,
button.bg-indigo:focus,
a.bg-indigo:hover,
a.bg-indigo:focus {
    background-color: var(--indigo-hover) !important;
}

.out-indigo {
    color: var(--indigo);
    background-color: transparent;
    border: var(--border-indigo);
}

button.out-indigo:hover,
button.out-indigo:focus,
a.out-indigo:hover,
a.out-indigo:focus {
    color: var(--white);
    background-color: var(--indigo);
}

.bg-teal {
    color: var(--white) !important;
    background-color: var(--teal) !important;
    border: var(--border-transparent);
}

button.bg-teal:hover,
button.bg-teal:focus,
a.bg-teal:hover,
a.bg-teal:focus {
    background-color: var(--teal-hover) !important;
}

.out-teal {
    color: var(--teal);
    background-color: transparent;
    border: var(--border-teal);
}

button.out-teal:hover,
button.out-teal:focus,
a.out-teal:hover,
a.out-teal:focus {
    color: var(--white);
    background-color: var(--teal);
}

.bg-orange {
    color: var(--white) !important;
    background-color: var(--orange) !important;
    border: var(--border-transparent);
}

button.bg-orange:hover,
button.bg-orange:focus,
a.bg-orange:hover,
a.bg-orange:focus {
    background-color: var(--orange-hover) !important;
}

.out-orange {
    color: var(--orange);
    background-color: transparent;
    border: var(--border-orange);
}

button.out-orange:hover,
button.out-orange:focus,
a.out-orange:hover,
a.out-orange:focus {
    color: var(--white);
    background-color: var(--orange);
}

.bg-brown {
    color: var(--white) !important;
    background-color: var(--brown) !important;
    border: var(--border-transparent);
}

button.bg-brown:hover,
button.bg-brown:focus,
a.bg-brown:hover,
a.bg-brown:focus {
    background-color: var(--brown-hover) !important;
}

.out-brown {
    color: var(--brown);
    background-color: transparent;
    border: var(--border-brown);
}

button.out-brown:hover,
button.out-brown:focus,
a.out-brown:hover,
a.out-brown:focus {
    color: var(--white);
    background-color: var(--brown);
}

.bg-purple {
    color: var(--white) !important;
    background-color: var(--purple) !important;
    border: var(--border-transparent);
}

button.bg-purple:hover,
button.bg-purple:focus,
a.bg-purple:hover,
a.bg-purple:focus {
    background-color: var(--purple-hover) !important;
}

.out-purple {
    color: var(--purple);
    background-color: transparent;
    border: var(--border-purple);
}

button.out-purple:hover,
button.out-purple:focus,
a.out-purple:hover,
a.out-purple:focus {
    color: var(--white);
    background-color: var(--purple);
}

.bg-lime {
    color: var(--white) !important;
    background-color: var(--lime) !important;
    border: var(--border-transparent);
}

button.bg-lime:hover,
button.bg-lime:focus,
a.bg-lime:hover,
a.bg-lime:focus {
    background-color: var(--lime-hover) !important;
}

.out-lime {
    color: var(--lime);
    background-color: transparent;
    border: var(--border-lime);
}

button.out-lime:hover,
button.out-lime:focus,
a.out-lime:hover,
a.out-lime:focus {
    color: var(--white);
    background-color: var(--lime);
}

.bg-tomato {
    color: var(--white) !important;
    background-color: var(--tomato) !important;
    border: var(--border-transparent);
}

button.bg-tomato:hover,
button.bg-tomato:focus,
a.bg-tomato:hover,
a.bg-tomato:focus {
    background-color: var(--tomato-hover) !important;
}

.out-tomato {
    color: var(--tomato);
    background-color: transparent;
    border: var(--border-tomato);
}

button.out-tomato:hover,
button.out-tomato:focus,
a.out-tomato:hover,
a.out-tomato:focus {
    color: var(--white);
    background-color: var(--tomato);
}

.bg-magenta {
    color: var(--white) !important;
    background-color: var(--magenta) !important;
    border: var(--border-transparent);
}

button.bg-magenta:hover,
button.bg-magenta:focus,
a.bg-magenta:hover,
a.bg-magenta:focus {
    background-color: var(--magenta-hover) !important;
}

.out-magenta {
    color: var(--magenta);
    background-color: transparent;
    border: var(--border-magenta);
}

button.out-magenta:hover,
button.out-magenta:focus,
a.out-magenta:hover,
a.out-magenta:focus {
    color: var(--white);
    background-color: var(--magenta);
}

.bg-cyan {
    color: var(--white) !important;
    background-color: var(--cyan) !important;
    border: var(--border-transparent);
}

button.bg-cyan:hover,
button.bg-cyan:focus,
a.bg-cyan:hover,
a.bg-cyan:focus {
    background-color: var(--cyan-hover) !important;
}

.out-cyan {
    color: var(--cyan);
    background-color: transparent;
    border: var(--border-cyan);
}

button.out-cyan:hover,
button.out-cyan:focus,
a.out-cyan:hover,
a.out-cyan:focus {
    color: var(--white);
    background-color: var(--cyan);
}

.bg-pink {
    color: var(--white) !important;
    background-color: var(--pink) !important;
    border: var(--border-transparent);
}

button.bg-pink:hover,
button.bg-pink:focus,
a.bg-pink:hover,
a.bg-pink:focus {
    background-color: var(--pink-hover) !important;
}

.out-pink {
    color: var(--pink);
    background-color: transparent;
    border: var(--border-pink);
}

button.out-pink:hover,
button.out-pink:focus,
a.out-pink:hover,
a.out-pink:focus {
    color: var(--white);
    background-color: var(--pink);
}

/** COLORS **/
.color-white {
    color: var(--white) !important;
}

.color-light {
    color: var(--light) !important;
}

.color-grey {
    color: var(--grey) !important;
}

.color-dark {
    color: var(--dark) !important;
}

.color-default {
    color: var(--default) !important;
}

.color-blue {
    color: var(--blue) !important;
}

.color-green {
    color: var(--green) !important;
}

.color-yellow {
    color: var(--yellow) !important;
}

.color-red {
    color: var(--red) !important;
}

.color-indigo {
    color: var(--indigo) !important;
}

.color-teal {
    color: var(--teal) !important;
}

.color-orange {
    color: var(--orange) !important;
}

.color-brown {
    color: var(--brown) !important;
}

.color-purple {
    color: var(--purple) !important;
}

.color-lime {
    color: var(--lime) !important;
}

.color-tomato {
    color: var(--tomato) !important;
}

.color-magenta {
    color: var(--magenta) !important;
}

.color-cyan {
    color: var(--cyan) !important;
}

.color-pink {
    color: var(--pink) !important;
}

.white {
    color: var(--dark) !important;
    background-color: var(--white) !important;
    border: var(--border-light) !important;
}

.light {
    color: var(--color-alert-light) !important;
    background-color: var(--light) !important;
    border: var(--border-light) !important;
}

.grey {
    color: var(--alert-grey) !important;
    background-color: var(--alert-grey-bg) !important;
    border: var(--alert-grey-border) !important;
}

.dark {
    color: var(--alert-dark) !important;
    background-color: var(--alert-dark-bg) !important;
    border: var(--alert-dark-border) !important;
}

.blue {
    color: var(--alert-blue) !important;
    background-color: var(--alert-blue-bg) !important;
    border: var(--alert-blue-border) !important;
}

.green {
    color: var(--alert-green) !important;
    background-color: var(--alert-green-bg) !important;
    border: var(--alert-green-border) !important;
}

.yellow {
    color: var(--alert-yellow) !important;
    background-color: var(--alert-yellow-bg) !important;
    border: var(--alert-yellow-border) !important;
}

.red {
    color: var(--alert-red) !important;
    background-color: var(--alert-red-bg) !important;
    border: var(--alert-red-border) !important;
}

.cyan {
    color: var(--alert-cyan) !important;
    background-color: var(--alert-cyan-bg) !important;
    border: var(--alert-cyan-border) !important;
}

/** HEADER **/
header {
    padding: var(--padding-input-y);
    border-top: var(--border-transparent);
    border-bottom: var(--border-transparent);
    flex: 0 0 auto;
}

header .dropdown>button {
    border: var(--border-transparent);
    background-color: transparent;
}

header .dropdown>button:hover,
header .dropdown>button:focus {
    box-shadow: none;
    border: var(--border-transparent) !important;
}

header>nav>ul {
    display: flex;
    flex-direction: row;
}

header>nav>ul>li>a:hover,
header>nav>ul>li>a:focus {
    background-color: transparent;
    border: var(--border-transparent);
}

header>nav>ul>li>a:active {
    transform: var(--button-transform);
}

header>nav>ul>li>.logo {
    position: relative;
    flex: 0 0 3rem;
    width: calc(1.5rem + (var(--padding-input-y) * 2) + 2px);
    height: calc(1.5rem + (var(--padding-input-y) * 2) + 2px);
    background-image: url("./images/logo.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    border-radius: 50%;
}

@keyframes spin {
    0% {
        transform: rotate3d(0);
    }

    100% {
        transform: rotateZ(360deg);
    }
}

/** HEADER THEMES **/
header.bg-white>nav>ul>li>a,
header.bg-light>nav>ul>li>a {
    color: var(--dark) !important;
}

header[class*="bg-"]>nav>ul>li>a {
    color: var(--white);
}

header.bg-white .dropdown>button,
header.bg-light .dropdown>button {
    color: var(--dark) !important;
    background-image: url("./images/dropdown.svg") !important;
}

header[class*="bg-"] .dropdown>button {
    color: var(--white);
    background-image: url("./images/dropdown-white.svg");
}

header.bg-white>nav>ul>li>.logo,
header.bg-light>nav>ul>li>.logo {
    background-image: url("./images/logo.svg") !important;
}

header[class*="bg-"]>nav>ul>li>.logo {
    background-image: url("./images/logo-white.svg");
}

header.bg-grey button.out-white:hover,
header.bg-grey button.out-white:focus {
    color: var(--grey) !important;
}

header.bg-default button.out-white:hover,
header.bg-default button.white.out:focus {
    color: var(--default) !important;
}

header.bg-blue button.out-white:hover,
header.bg-blue button.out-white:focus {
    color: var(--blue) !important;
}

header.bg-green button.out-white:hover,
header.bg-green button.out-white:focus {
    color: var(--green) !important;
}

header.bg-yellow button.out-white:hover,
header.bg-yellow button.out-white:focus {
    color: var(--yellow) !important;
}

header.bg-red button.out-white:hover,
header.bg-red button.out-white:focus {
    color: var(--red) !important;
}

/** UL LI **/
ul li {
    list-style: none;
}

ul li a {
    width: 100%;
    display: inline-block;
    padding: var(--padding-input-y) var(--padding-input-x);
    text-align: left;
    color: var(--dark);
    border: var(--border-transparent);
    transition: all 0.25s ease;
    cursor: pointer;
}

ul li a:hover {
    text-decoration: none;
    background-color: var(--light);
}

ul li a:focus,
ul li a:active {
    text-decoration: none;
    background-color: var(--light-hover);
}

a {
    color: var(--blue);
    text-decoration: none;
    transition: all 0.25s ease;
}

a:hover,
a:focus {
    text-decoration: underline;
}

/** MAIN **/
main {
    display: flex;
    flex-direction: column;
    flex: 1 1 0;
    padding: var(--margin);
}

/** ASIDE **/
aside {
    flex: 0 0 14rem;
    top: var(--aside-top);
    background-color: var(--white);
    height: calc(100vh - var(--aside-top));
    z-index: 5;
}

aside>form {
    display: flex;
    flex-direction: column;
    flex: 0 0 auto;
    border-left: none;
    border-right: none;
    border-top: none;
    border-radius: 0;
    padding: 0 var(--padding);
}

aside>nav {
    height: calc(100% - var(--aside-top));
    overflow-y: auto;
}

aside>nav>ul>li>a {
    font-weight: var(--font-bold);
    color: var(--default);
}

/** BREADCRUMB **/
ol.breadcrumb {
    display: flex;
    flex-direction: row;
    border: var(--border-transparent);
    list-style: none;
    padding: var(--padding-input-y) var(--padding-input-x);
    background-color: var(--light);
}

ol.breadcrumb li::before {
    margin-left: 0.5rem;
    margin-right: 0.1875rem;
    content: "/";
}

ol.breadcrumb li:first-child::before {
    display: none;
}

ol.breadcrumb li a {
    color: var(--dark);
}

/** LISTS **/
ul.list,
ol.list {
    border-radius: var(--border-radius);
    list-style-position: inside;
}

ul.list li,
ol.list li {
    border-top: var(--border-transparent);
    border-bottom: var(--border-light);
    border-left: var(--border-light);
    border-right: var(--border-light);
    padding: var(--padding-input-y) var(--padding-input-x);
}

ul.list li:first-child,
ol.list li:first-child {
    border-top-left-radius: var(--border-radius);
    border-top-right-radius: var(--border-radius);
    border-top: var(--border-light);
}

ul.list li:last-child,
ol.list li:last-child {
    border-bottom-left-radius: var(--border-radius);
    border-bottom-right-radius: var(--border-radius);
}

ul.list.action li,
ol.list.action li {
    transition: all 0.25s ease;
}

ul.list.action li:hover,
ul.list.action li:hover,
ol.list.action li:hover,
ol.list.action li:hover {
    cursor: pointer;
    background-color: var(--light);
}

ul.list.action li:active,
ol.list.action li:active {
    cursor: pointer;
    background-color: var(--light-hover);
}

ul.pagination {
    display: flex;
    flex-direction: row;
}

ul.pagination>li {
    flex: 0 0 auto;
    margin: 0.125rem;
}

ul.pagination>li>a {
    border-radius: var(--border-radius);
}

/** ACTIVE **/
.active {
    color: var(--white) !important;
    background-color: var(--default) !important;
    border: var(--border-transparent) !important;
}

/** DIV **/
div {
    display: block;
}

/** ARTICLE **/
article {
    display: flex;
    flex-direction: row;
}

/** SECTION **/
section {
    flex: 1 1 0;
    margin: var(--margin);
}

/** FORM **/
form {
    display: block;
    flex: 1 1 0;
    background-color: var(--white);
    border: var(--border-light);
    border-radius: var(--border-radius);
    padding: var(--padding);
}

/** FORM HEADER **/
form>header {
    position: relative;
    display: flex;
    flex-direction: row;
    margin: 0 var(--margin);
    padding: var(--padding-input-y) 0;
    background-color: transparent;
    border-bottom: var(--border-light);
}

form>header>h1,
form>header>h2,
form>header>h3,
form>header>h4,
form>header>h5,
form>header>h6 {
    flex: 1 1 0;
}

form>header>button {
    flex: 0 0 auto;
    margin: 0 0.5rem;
}

form>header>button:first-child {
    margin-left: 0;
}

form>header>button:last-child {
    margin-right: 0;
}

/** FORM MAIN **/
form>main {
    padding: var(--padding);
}

/** FIELDSET **/
form>main>div {
    padding: 0.25rem 0;
}

fieldset {
    border-radius: var(--border-radius);
}

fieldset.b {
    margin: var(--margin) 0;
    padding: 0.75rem 1rem;
}

fieldset>div {
    display: flex;
    flex-direction: row;
    padding: 0.25rem 0;
}

fieldset>div>label,
fieldset>div>input,
fieldset>div>select,
fieldset>div>button,
fieldset>div>.dropdown>button,
fieldset>div>div.tooltip>input,
fieldset>div>div.tooltip>select,
fieldset>div>div.tooltip>textarea,
fieldset>div>div.popover>input,
fieldset>div>div.popover>select,
fieldset>div>div.popover>textarea {
    flex: 0 0 auto;
    margin: 0;
    border-radius: 0;
    margin-left: -1px;
    border-left: var(--border-light);
    border-right: var(--border-transparent);
    border-top: var(--border-light);
    border-bottom: var(--border-light);
}

fieldset>div>label:first-child,
fieldset>div>input:first-child,
fieldset>div>select:first-child,
fieldset>div>button:first-child,
fieldset>div>.dropdown:first-child>button,
fieldset>div>div.tooltip:first-child>input,
fieldset>div>div.tooltip:first-child>select,
fieldset>div>div.tooltip:first-child>textarea,
fieldset>div>div.popover:first-child>input,
fieldset>div>div.popover:first-child>select,
fieldset>div>div.popover:first-child>textarea {
    margin-left: 0;
    border-top-left-radius: var(--border-radius);
    border-bottom-left-radius: var(--border-radius);
}

fieldset>div>label:last-child,
fieldset>div>input:last-child,
fieldset>div>select:last-child,
fieldset>div>button:last-child,
fieldset>div>.dropdown:last-child>button,
fieldset>div>div.tooltip:last-child>input,
fieldset>div>div.tooltip:last-child>select,
fieldset>div>div.tooltip:last-child>textarea,
fieldset>div>div.popover:last-child>input,
fieldset>div>div.popover:last-child>select,
fieldset>div>div.popover:last-child>textarea {
    border-top-right-radius: var(--border-radius);
    border-bottom-right-radius: var(--border-radius);
    border-right: var(--border-light);
}

fieldset>div>label {
    padding: var(--padding-input-y) var(--padding-input-x);
    background-color: var(--light);
    /* flex: 0 0 calc(33.333% - 0.625rem); */
    min-width: 12rem !important;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

fieldset>div>button {
    flex: 0 0 auto;
}

fieldset>div>input,
fieldset>div>select,
fieldset>div>.dropdown {
    flex: 1 1 0;
}

/** FORM FOOTER **/
form>footer {
    display: flex;
    flex-direction: row;
    border-top: var(--border-light);
    padding: var(--padding) 0;
    margin: 0 var(--margin);
}

form>footer>* {
    flex: 1 1 0;
    margin: 0 0.5rem !important;
    max-width: calc(50% - 0.5rem);
}

form>footer>*:first-child {
    margin-left: 0 !important;
}

form>footer>*:last-child {
    margin-right: 0 !important;
}

/** LEGEND **/
legend {
    font-weight: var(--font-bold);
    color: var(--default);
    padding: var(--padding-input-y) var(--padding-input-x);
    border-radius: var(--border-radius);
}

legend.left {
    text-align: left;
}

legend.right {
    text-align: right;
}

legend.center {
    text-align: center;
}

/** HR **/
hr {
    border-top: var(--border-light);
    margin: var(--margin) 0;
}

/** BR **/
.br-half {
    height: var(--padding) !important;
    visibility: hidden;
}

/** P **/
p {
    padding: 0.25rem 0;
}

/** EM(EMPHASIZE) **/
em {
    font-style: normal;
    font-size: 1.25rem;
    font-weight: var(--font-light);
    line-height: 1.75rem;
}

/** STRONG **/
strong,
b {
    font-weight: var(--font-bold);
}

sub,
sup {
    font-size: 0.75rem;
}

small {
    font-size: 0.875rem;
}

/** MARK **/
mark {
    padding: 0 0.25rem;
    /* color: var(--white); */
    background-color: var(--light);
    border: var(--border-light);
}

/** WRAP **/
.wrap {
    white-space: normal !important;
}

/** INPUTS **/
input,
select,
textarea {
    width: 100%;
    padding: var(--padding-input-y) var(--padding-input-x);
    min-width: 3rem;
    border-radius: var(--border-radius);
    background-color: var(--white);
    border: var(--border-light);
    transition: all 0.25s ease;
    resize: none;
}

input:focus,
select:focus,
textarea:focus {
    z-index: 1;
    border: var(--border-default) !important;
    /* box-shadow: var(--shadow-input); */
}

select {
    background-image: url("./images/down.svg");
    background-repeat: no-repeat;
    background-size: 1rem;
    background-position: calc(100% - 0.75rem) center;
}

label.xl,
input.xl,
select.xl,
textarea.xl,
button.xl {
    font-size: 1.5rem;
    line-height: 2rem;
}

label.lg,
input.lg,
select.lg,
textarea.lg,
button.lg {
    font-size: 1.25rem;
    line-height: 1.75rem;
}

label.sm,
input.sm,
select.sm,
textarea.sm,
button.sm {
    font-size: 0.9375rem;
    line-height: 1.25rem;
}

label.xs,
input.xs,
select.xs,
textarea.xs,
button.xs {
    font-size: 0.875rem;
    line-height: 1rem;
}

/** CHECKBOXES **/
input[type="checkbox"]:not(:checked),
input[type="checkbox"]:checked {
    display: none;
}

input[type="checkbox"]:not(:checked)+label,
input[type="checkbox"]:checked+label {
    position: relative;
    padding-left: 4.25rem;
    cursor: pointer;
}

input[type="checkbox"]:not(:checked)+label:before,
input[type="checkbox"]:checked+label:before,
input[type="checkbox"]:not(:checked)+label:after,
input[type="checkbox"]:checked+label:after {
    content: "";
    position: absolute;
    height: 2rem;
    transition: all 0.15s ease;
}

input[type="checkbox"]:not(:checked)+label:before,
input[type="checkbox"]:checked+label:before {
    left: 0;
    top: 0;
    width: 3.25rem;
    border: var(--border-light);
    background-color: var(--light);
    border-radius: var(--border-radius);
    z-index: 1;
}

input[type="checkbox"]:not(:checked)+label:after,
input[type="checkbox"]:checked+label:after {
    left: 0;
    top: 0;
    border: var(--border-light);
    background-color: var(--white);
    border-radius: var(--border-radius);
    width: 2rem;
    z-index: 2;
}

input[type="checkbox"]:checked+label:after {
    left: 1.25rem;
    border-color: var(--default);
}

input[type="checkbox"]:checked+label:before {
    background-color: var(--default);
    border-color: var(--default);
}

/** RADIOS **/
input[type="radio"]:not(:checked),
input[type="radio"]:checked {
    display: none;
}

input[type="radio"]:not(:checked)+label,
input[type="radio"]:checked+label {
    position: relative;
    padding-top: var(--padding-input-y);
    padding-bottom: var(--padding-input-y);
    padding-left: calc(1.5rem + var(--padding-input-x));
    padding-right: var(--padding-input-x);
    border: var(--border-transparent);
    line-height: 1.5rem;
    cursor: pointer;
}

input[type="radio"]:not(:checked)+label:before,
input[type="radio"]:checked+label:before,
input[type="radio"]:not(:checked)+label:after,
input[type="radio"]:checked+label:after {
    content: "";
    position: absolute;
    transition: all 0.15s ease;
}

input[type="radio"]:not(:checked)+label:before,
input[type="radio"]:checked+label:before {
    left: 0;
    top: calc(var(--padding-input-y) - 2px);
    width: 1.5rem;
    height: 1.5rem;
    border: var(--border-light);
    background-color: var(--light);
    border-radius: var(--border-radius);
    z-index: 1;
}

input[type="radio"]:not(:checked)+label:after,
input[type="radio"]:checked+label:after {
    left: 0.125rem;
    top: var(--padding-input-y);
    border: var(--border-light) !important;
    background-color: var(--default);
    border-radius: var(--border-radius);
    width: 1.25rem;
    height: 1.25rem;
    z-index: 2;
    transform: scale(0);
}

input[type="radio"]:checked+label:after {
    transform: scale(1);
}

/** BUTTONS **/
button {
    flex: 0 0 auto;
    padding: var(--padding-input-y) var(--padding-input-x);
    min-width: 3rem;
    color: var(--dark);
    background-color: var(--light);
    border: var(--border-light);
    border-radius: var(--border-radius);
    transition: all 0.25s ease;
    cursor: pointer;
}

button:hover,
button:focus {
    z-index: 1;
    background-color: var(--light-hover);
}

button:active {
    transform: var(--button-transform);
}

/** LABEL **/
label {
    display: inline-block;
    padding: 0.25rem 0.125rem;
}

/** IFRAME **/
iframe {
    width: 100%;
    height: 100%;
}

/** HEADINGS **/
hgroup {
    padding: 2rem;
    border: var(--border-light);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: var(--font-light);
    color: var(--default);
    border: var(--border-transparent) !important;
    padding: var(--padding-input-y) 0;
}

h1 {
    font-size: 3rem;
}

h2 {
    font-size: 2.5rem;
}

h3 {
    font-size: 2rem;
}

h4 {
    font-size: 1.75rem;
}

h5 {
    font-size: 1.5rem;
}

h6 {
    font-size: 1.25rem;
}

/** ACCORDIONS **/
.accordion {
    position: relative;
    width: 100%;
    margin: 0.125rem 0;
    background-color: var(--light);
    padding: var(--padding-input-y) var(--padding-input-x);
    color: var(--dark);
    background-color: var(--light);
    border: var(--border-light);
    border-radius: var(--border-radius);
    transition: all 0.2s ease;
    cursor: pointer;
}

.accordion:hover,
.accordion:focus {
    background-color: var(--light-hover);
}

.accordion-panel {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease;
}

.accordion:before,
.accordion:after {
    content: "";
    position: absolute;
    top: 50%;
    right: 1rem;
    margin-top: -0.0625rem;
    margin-left: -0.375rem;
    background-color: var(--dark);
    display: block;
    height: 0.125rem;
    width: 0.75rem;
    transition: all 0.25s ease;
}

.accordion:after {
    transform: rotate(90deg);
}

.accordion.active:before {
    background-color: var(--white);
    transform: rotate(135deg);
}

.accordion.active:after {
    background-color: var(--white);
    transform: rotate(225deg);
}

/** ALERTS **/
.alert {
    display: block;
    position: relative;
    margin: 0.25rem 0;
    border-radius: var(--border-radius);
    border: var(--border-light);
    padding: var(--padding-input-y) var(--padding-input-x);
    transition: all 0.5s ease;
}

.alert * {
    color: inherit;
    background-color: inherit;
    border-color: inherit;
}

.alert a {
    font-weight: var(--font-bold);
}

.alert>span.close {
    position: absolute;
    top: 0;
    right: 0;
    background-color: transparent !important;
    width: calc(1.5rem + (2 * var(--padding-input-y)));
    height: calc(1.5rem + (2 * var(--padding-input-y)));
    border: 0;
    border-radius: 50%;
    transition: all 0.25s ease;
    z-index: 1;
    cursor: pointer;
}

.alert>span.close:before,
.alert>span.close:after {
    transform: rotate(-45deg);
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -0.0625rem;
    margin-left: -0.375rem;
    background-color: var(--dark);
    display: block;
    height: 0.125rem;
    width: 0.75rem;
    transition: all 0.25s ease;
}

.alert>span.close:after {
    transform: rotate(-135deg);
}

.alert>span.close:hover:before,
.alert>span.close:focus:before {
    transform: rotate(45deg);
}

.alert>span.close:hover:after,
.alert>span.close:focus:after {
    transform: rotate(-45deg);
}

.alert>span.close:active:before,
.alert>span.close:active:after {
    transform: rotate(0deg);
}

.alert.light>span.close:before,
.alert.light>span.close:after {
    background-color: var(--dark);
}

.alert.grey>span.close:before,
.alert.grey>span.close:after {
    background-color: var(--dark);
}

.alert.dark>span.close:before,
.alert.dark>span.close:after {
    background-color: var(--dark);
}

.alert.blue>span.close:before,
.alert.blue>span.close:after {
    background-color: var(--alert-blue);
}

.alert.green>span.close:before,
.alert.green>span.close:after {
    background-color: var(--alert-green);
}

.alert.yellow>span.close:before,
.alert.yellow>span.close:after {
    background-color: var(--alert-yellow);
}

.alert.red>span.close:before,
.alert.red>span.close:after {
    background-color: var(--alert-red);
}

/** BADGES **/
.badge {
    margin: calc(-1 * var(--padding-input-y) / 2) calc(var(--padding-input-y) / 2);
    padding: calc(var(--padding-input-y) / 2) var(--padding-input-y);
    min-width: calc(1.5rem + var(--padding-input-y));
    text-align: center;
    background-color: transparent;
    border: 0;
    border-radius: var(--border-radius);
    display: inline-block;
}

.badge.left {
    margin-left: calc(-1 * var(--padding-input-y) / 2 + 1px);
    margin-right: var(--padding-input-x);
    float: left;
}

.badge.right {
    margin-right: calc(-1 * var(--padding-input-y) / 2 + 1px);
    margin-left: var(--padding-input-x);
    float: right;
}

button>.badge.left {
    margin-left: calc((-1 * var(--padding-input-x)) + (var(--padding-input-y) / 2) + 1px);
    margin-right: 0;
    float: left;
}

button>.badge.right {
    margin-right: calc((-1 * var(--padding-input-x)) + (var(--padding-input-y) / 2) + 1px);
    margin-left: 0;
    float: right;
}

/** FLEXES **/
.flex-row {
    display: flex;
    flex-direction: row;
}

.flex-col {
    display: flex;
    flex-direction: column;
}

.flex-auto {
    flex: 0 0 auto;
}

.flex {
    flex: 1 1 0;
}

.flex-1 {
    flex: 0 0 1rem;
}

.flex-2 {
    flex: 0 0 2rem;
}

.flex-3 {
    flex: 0 0 3rem;
}

.flex-4 {
    flex: 0 0 4rem;
}

.flex-6 {
    flex: 0 0 6rem;
}

.flex-8 {
    flex: 0 0 8rem;
}

.flex-10 {
    flex: 0 0 10rem;
}

.flex-12 {
    flex: 0 0 12rem;
}

.flex-14 {
    flex: 0 0 14rem;
}

/** TABLES **/
table {
    width: 100%;
    flex: 1 1 0;
    border-spacing: 0;
    border-radius: var(--border-radius);
}

table thead {
    color: inherit;
}

table thead tr {
    color: inherit;
}

table thead tr th {
    font-weight: var(--font-bold);
    color: inherit;
    padding: calc(var(--padding-input-y) * 1.5) var(--padding-input-x);
    border-top: var(--border-light);
    border-bottom: var(--border-light);
    text-align: left;
}

table thead tr th:first-child {
    border-left: var(--border-light);
    border-top-left-radius: var(--border-radius);
}

table thead tr th:last-child {
    border-right: var(--border-light);
    border-top-right-radius: var(--border-radius);
}

table tbody {
    color: inherit;
}

table tbody tr {
    color: inherit;
}

table tbody tr td {
    color: inherit;
    padding: var(--padding-input-y) var(--padding-input-x);
    border-bottom: var(--border-light);
}

table tbody tr td:first-child {
    border-left: var(--border-light);
}

table tbody tr td:last-child {
    border-right: var(--border-light);
}

table tfoot {
    color: inherit;
}

table tfoot tr {
    color: inherit;
}

table tfoot tr td {
    color: inherit;
    padding: calc(var(--padding-input-y) * 1.25) var(--padding-input-x);
    border-bottom: var(--border-light);
}

table tfoot tr td:first-child {
    border-left: var(--border-light);
    border-bottom-left-radius: var(--border-radius);
}

table tfoot tr td:last-child {
    border-right: var(--border-light);
    border-bottom-right-radius: var(--border-radius);
}

/** TABS **/
nav[role="tab"] ul li a {
    height: 3.5rem !important;
    line-height: 3.5rem !important;
}

.show {
    display: block;
    animation: fade 1s ease;
}

.hide {
    display: none;
}

/** Z-INDEXES **/
.z-1 {
    z-index: 1;
}

.z-2 {
    z-index: 2;
}

.z-3 {
    z-index: 3;
}

.z-4 {
    z-index: 4;
}

.z-5 {
    z-index: 5;
}

.z-max {
    z-index: 1000;
}

/** HEIGHTS **/
.h-2 {
    height: 2rem;
}

.h-3 {
    height: 3rem;
}

.h-4 {
    height: 4rem;
}

.h-100p {
    height: 100%;
}

/** WIDTHS **/
.w-1 {
    width: 1rem;
}

.w-2 {
    width: 2rem;
}

.w-3 {
    width: 3rem;
}

.w-4 {
    width: 4rem;
}

.w-5 {
    width: 5rem;
}

.w-6 {
    width: 6rem;
}

.w-7 {
    width: 7rem;
}

.w-8 {
    width: 8rem;
}

.w-9 {
    width: 9rem;
}

.w-10 {
    width: 10rem !important;
}

.w-15 {
    width: 15rem !important;
}

.w-20 {
    width: 20rem !important;
}

.w-25 {
    width: 25rem !important;
}

.w-100p {
    width: 100% !important;
}

/** MIN-WIDTHS **/
.min-w-0 {
    min-width: unset;
}

.min-w-1 {
    min-width: 1rem;
}

.min-w-2 {
    min-width: 2rem;
}

.min-w-3 {
    min-width: 3rem;
}

.min-w-4 {
    min-width: 4rem;
}

.min-w-5 {
    min-width: 5rem;
}

.min-w-6 {
    min-width: 6rem;
}

.min-w-7 {
    min-width: 7rem;
}

.min-w-8 {
    min-width: 8rem;
}

.min-w-9 {
    min-width: 9rem;
}

.min-w-10 {
    min-width: 10rem;
}

.min-w-15 {
    min-width: 15rem !important;
}

.min-w-20 {
    min-width: 20rem !important;
}

.min-w-25 {
    min-width: 25rem !important;
}

.min-w-100p {
    min-width: 100% !important;
}

/** MAX-WIDTHS **/
.max-w-0 {
    max-width: unset;
}

.max-w-64 {
    max-width: 64rem !important;
}

.max-w-80 {
    max-width: 80rem !important;
}

/** MARGINS **/
.m {
    margin: var(--margin);
}

.m-0 {
    margin: 0;
}

.m-05 {
    margin: 0.5rem;
}

.m-1 {
    margin: 1rem;
}

.m-2 {
    margin: 2rem;
}

.m-3 {
    margin: 3rem;
}

.m-4 {
    margin: 4rem;
}

.m-5 {
    margin: 5rem;
}

.my-1 {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.my-2 {
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.mx-1 {
    margin-left: 1rem;
    margin-right: 1rem;
}

.m-auto {
    margin: auto;
}

.ml-auto {
    margin-left: auto;
}

.mr-auto {
    margin-right: auto;
}

/** PADDINGS **/
.p {
    padding: var(--padding) !important;
}

.p-input {
    padding: var(--padding-input-y) var(--padding-input-x) !important;
}

.p-0 {
    padding: 0 !important;
}

.p-05 {
    padding: 0.5rem !important;
}

.p-1 {
    padding: 1rem !important;
}

.p-2 {
    padding: 2rem !important;
}

.p-3 {
    padding: 3rem !important;
}

.p-4 {
    padding: 4rem !important;
}

.p-5 {
    padding: 5rem !important;
}

.py-05 {
    padding-top: 0.5rem !important;
    padding-bottom: 0.5rem !important;
}

.py-1 {
    padding-top: 1rem !important;
    padding-bottom: 1rem !important;
}

.py-2 {
    padding-top: 2rem !important;
    padding-bottom: 2rem !important;
}

.px-05 {
    padding-left: 0.5rem !important;
    padding-right: 0.5rem !important;
}

.px-1 {
    padding-left: 1rem !important;
    padding-right: 1rem !important;
}

.pl {
    padding-left: var(--padding) !important;
}

.pl-05 {
    padding-left: 0.5rem !important;
}

.pl-1 {
    padding-left: 1rem !important;
}

.pl-2 {
    padding-left: 2rem !important;
}

.pl-3 {
    padding-left: 3rem !important;
}

.pl-4 {
    padding-left: 4rem !important;
}

.pl-5 {
    padding-left: 5rem !important;
}

.pr {
    padding-right: var(--padding) !important;
}

.pr-05 {
    padding-right: 0.5rem !important;
}

.pr-1 {
    padding-right: 1rem !important;
}

.pr-2 {
    padding-right: 2rem !important;
}

.pr-3 {
    padding-right: 3rem !important;
}

.pr-4 {
    padding-right: 4rem !important;
}

.pr-5 {
    padding-right: 5rem !important;
}

.pt {
    padding-top: var(--padding) !important;
}

.pt-05 {
    padding-top: 0.5rem !important;
}

.pt-1 {
    padding-top: 1rem !important;
}

.pt-2 {
    padding-top: 2rem !important;
}

.pt-3 {
    padding-top: 3rem !important;
}

.pt-4 {
    padding-top: 4rem !important;
}

.pt-5 {
    padding-top: 5rem !important;
}

.pb {
    padding-bottom: var(--padding) !important;
}

.pb-05 {
    padding-bottom: 0.5rem !important;
}

.pb-1 {
    padding-bottom: 1rem !important;
}

.pb-2 {
    padding-bottom: 2rem !important;
}

.pb-3 {
    padding-bottom: 3rem !important;
}

.pb-4 {
    padding-bottom: 4rem !important;
}

.pb-5 {
    padding-bottom: 5rem !important;
}

/** BORDERS **/
.b-0 {
    border: var(--border-transparent) !important;
}

.bl-0 {
    border-left: var(--border-transparent) !important;
}

.br-0 {
    border-right: var(--border-transparent) !important;
}

.bt-0 {
    border-top: var(--border-transparent) !important;
}

.bb-0 {
    border-bottom: var(--border-transparent) !important;
}

.b {
    border: var(--border-light) !important;
}

.bl {
    border-left: var(--border-light) !important;
}

.br {
    border-right: var(--border-light) !important;
}

.bt {
    border-top: var(--border-light) !important;
}

.bb {
    border-bottom: var(--border-light) !important;
}

/** FLOATS **/
.fl {
    float: left;
}

.fr {
    float: right;
}

/** RADIUSES **/
.radius-0 {
    border-radius: 0;
}

.radius {
    border-radius: var(--border-radius);
}

/** FLEXES **/
.row {
    display: flex;
    flex-direction: row;
}

.col {
    flex: 1 1 0;
}

.col-10 {
    flex: 0 0 10%;
}

.col-20 {
    flex: 0 0 20%;
}

.col-25 {
    flex: 0 0 25%;
}

.col-30 {
    flex: 0 0 30%;
}

.col-33 {
    flex: 0 0 33.333%;
}

.col-40 {
    flex: 0 0 40%;
}

.col-50 {
    flex: 0 0 50%;
}

.col-60 {
    flex: 0 0 60%;
}

.col-66 {
    flex: 0 0 66.666%;
}

.col-70 {
    flex: 0 0 70%;
}

.col-75 {
    flex: 0 0 75%;
}

.col-80 {
    flex: 0 0 80%;
}

.col-90 {
    flex: 0 0 90%;
}

/** POSITIONS **/
.static {
    position: static;
}

.relative {
    position: relative;
}

.fixed {
    position: fixed;
}

.absolute {
    position: absolute;
}

.sticky {
    position: -webkit-sticky;
    position: sticky;
}

.t-0 {
    top: 0;
}

.t-1 {
    top: 1rem;
}

.t-2 {
    top: 2rem;
}

.t-3 {
    top: 3rem;
}

.t-4 {
    top: 4rem;
}

.l-0 {
    left: 0;
}

/** TRANSFORMS **/
.scale-0 {
    transform: scale(0);
}

.scale-1 {
    transform: scale(1);
}

/** OVERFLOWS **/
.of-auto {
    overflow: auto;
}

.of-scroll {
    overflow: scroll;
}

.of-hidden {
    overflow: hidden;
}

/** VISIBLE/INVISIBLE **/
.visible {
    visibility: visible;
}

.invisible {
    visibility: hidden;
}

/** ICONS **/
.icon,
.icon-xs,
.icon-sm,
.icon-lg,
.icon-xl {
    background-repeat: no-repeat;
    background-position: center;
    min-width: 3rem;
}

.icon {
    background-size: 1.5rem;
}

.icon-xs {
    background-size: 0.75rem;
}

.icon-sm {
    background-size: 1.25rem;
}

.icon-lg {
    background-size: 1.75rem;
}

.icon-xl {
    background-size: 2rem;
}

.icon-left {
    padding-left: 2.75rem;
    background-position: 0.75rem;
}

.icon-right {
    padding-right: 2.75rem;
    background-position-x: calc(100% - 0.75rem);
}

.icon-menu {
    background-image: url("./images/menu.svg");
}

.icon-home {
    background-image: url("./images/home.svg");
}

.icon-settings {
    background-image: url("./images/settings.svg");
}

.icon-search {
    background-image: url("./images/search.svg");
}

.icon-user {
    background-image: url("./images/user.svg");
}

.icon-email {
    background-image: url("./images/email.svg");
}

.icon-password {
    background-image: url("./images/password.svg");
}

.icon-horizontal {
    background-image: url("./images/horizontal.svg");
}

.icon-vertical {
    background-image: url("./images/vertical.svg");
}

.icon-zoomin {
    background-image: url("./images/zoomin.svg");
}

.icon-zoomout {
    background-image: url("./images/zoomout.svg");
}

.icon-expandleft {
    background-image: url("./images/expandleft.svg");
}

.icon-expandright {
    background-image: url("./images/expandright.svg");
}

.icon-ok {
    background-image: url("./images/ok.svg");
}

.icon-cancel {
    background-image: url("./images/cancel.svg");
}

.icon-down {
    background-image: url("./images/down.svg");
}

.icon-filter {
    background-image: url("./images/filter.svg");
}

.icon-hint {
    background-image: url("./images/hint.svg");
}

.icon-gear-white {
    background-image: url("./images/gear-white.svg");
}

/** DIALOG MODAL **/
dialog {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
    /* justify-content: center; */
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1000;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    transform: scale(0);
    transition: opacity 0.4s ease;
}

dialog>form {
    position: relative;
    flex: 1 1 0;
    max-width: 500px;
    max-height: calc(100% - 1rem);
    overflow-x: hidden;
    overflow-y: auto;
    transition: all 0.4s ease;
    margin-left: auto;
    margin-right: auto;
    margin-top: -50%;
}

dialog>.modal-show {
    margin-top: 0;
}

dialog>form>span.close {
    position: absolute;
    top: 0;
    right: 0;
    width: calc(1.5rem + (2 * var(--padding-input-y)));
    height: calc(1.5rem + (2 * var(--padding-input-y)));
    background-color: transparent !important;
    border-radius: 50%;
    border: 0;
    transition: all 0.25s ease;
    z-index: 1;
    cursor: pointer;
}

dialog>form>span.close:before,
dialog>form>span.close:after {
    transform: rotate(-45deg);
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -0.0625rem;
    margin-left: -0.375rem;
    display: block;
    height: 0.125rem;
    width: 0.75rem;
    background-color: var(--dark);
    transition: all 0.25s ease;
}

dialog>form>span.close:after {
    transform: rotate(-135deg);
}

dialog>form>span.close:hover:before,
dialog>form>span.close:focus:before {
    transform: rotate(45deg);
}

dialog>form>span.close:hover:after,
dialog>form>span.close:focus:after {
    transform: rotate(-45deg);
}

dialog>form>span.close:active:before,
dialog>form>span.close:active:after {
    transform: rotate(0deg);
}

/** DROPDOWNS **/
.dropdown {
    display: flex;
    flex-direction: row;
    position: relative;
    flex: 1 1 0;
    transition: all 0.25s ease;
    margin: 0;
    padding: 0;
}

.dropdown>button {
    width: 100%;
    text-align: left;
    padding-right: 2.5rem;
    border: var(--border-light);
    background-image: url("./images/dropdown.svg");
    background-repeat: no-repeat;
    background-size: 1rem;
    background-position: calc(100% - 0.75rem) center;
}

.dropdown ul {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    float: left;
    min-width: 100%;
    margin: 0.125rem -1px !important;
    text-align: left;
    white-space: nowrap;
    background-color: var(--white);
    border: var(--border-transparent);
    border-radius: var(--border-radius) !important;
    box-shadow: var(--shadow-light);
    display: none;
}

.dropdown ul.expand {
    display: block;
    overflow: hidden;
}

.dropdown ul li {
    border: 0;
    display: flex;
    flex-direction: row;
    transition: none;
}

.dropdown ul li a,
.dropdown ul li button {
    display: flex;
    flex-direction: row;
    flex: 1 1 0;
    max-width: unset;
    margin: 0;
    border: var(--border-transparent) !important;
    background-color: var(--white);
    border-radius: 0;
    padding: 0.625rem 1rem;
    text-align: left;
    transition: all 0.25s ease;
}

.dropdown>ul li a:hover,
.dropdown>ul li button:hover {
    border: var(--border-transparent) !important;
    background-color: var(--light);
}

.dropdown>ul li a:focus,
.dropdown>ul li a:active,
.dropdown>ul li button:focus,
.dropdown>ul li button:active {
    border: var(--border-transparent) !important;
    background-color: var(--light-hover);
    transform: none;
}

.dropdown ul hr {
    margin: 0;
}

.dropdown.split {
    flex: 0 0 auto;
}

.dropdown.split>button {
    padding-right: var(--padding-input-x);
    background-position: center;
}

/** TOOLTIPS **/
.tooltip {
    position: relative;
}

.tooltip>.tooltiptext {
    visibility: hidden;
    position: absolute;
    width: auto;
    height: auto;
    padding: var(--padding-input-y) var(--padding-input-x);
    font-size: 0.9375rem;
    color: var(--light);
    background-color: var(--dark) !important;
    border-radius: var(--border-radius);
    box-shadow: var(--shadow-dark);
    text-align: left;
    white-space: nowrap;
    z-index: 999;
    opacity: 0;
    transform: scale(0);
    transition: all 0.25s ease;
    transition-delay: 0.5s;
    pointer-events: none;
}

.tooltip>.tooltiptext * {
    font-size: inherit;
}

.tooltip.hover:hover>.tooltiptext,
.tooltip.focus:focus>.tooltiptext,
.tooltip.focus>input:focus+.tooltiptext {
    visibility: visible;
    opacity: 1;
    transform: scale(1);
}

.tooltip.hover>.tooltiptext.top,
.tooltip.focus>.tooltiptext.top,
.tooltip.focus>input:focus+.tooltiptext.top {
    bottom: calc(100% + 0.625rem);
    left: 50%;
    transform: translateX(-50%);
}

.tooltip.hover>.tooltiptext.bottom,
.tooltip.focus>.tooltiptext.bottom,
.tooltip.focus>input:focus+.tooltiptext.bottom {
    top: calc(100% + 0.625rem);
    left: 50%;
    transform: translateX(-50%);
}

.tooltip.hover>.tooltiptext.left,
.tooltip.focus>.tooltiptext.left,
.tooltip.focus>input:focus+.tooltiptext.left {
    right: calc(100% + 0.625rem);
    top: 50%;
    transform: translateY(-50%);
}

.tooltip.hover>.tooltiptext.right,
.tooltip.focus>.tooltiptext.right,
.tooltip.focus>input:focus+.tooltiptext.right {
    left: calc(100% + 0.625rem);
    top: 50%;
    transform: translateY(-50%);
}

.tooltip>.tooltiptext::after {
    content: "";
    position: absolute;
    width: 0.6rem;
    height: 0.6rem;
    transform: rotate(45deg);
    background-color: var(--dark);
}

.tooltip>.tooltiptext.top::after {
    top: calc(100% - 0.3rem);
    left: calc(50% - 0.3rem);
}

.tooltip>.tooltiptext.bottom::after {
    top: -0.3rem;
    left: calc(50% - 0.3rem);
}

.tooltip>.tooltiptext.left::after {
    top: calc(50% - 0.3rem);
    left: calc(100% - 0.4rem);
}

.tooltip>.tooltiptext.right::after {
    top: calc(50% - 0.3rem);
    left: -0.2rem;
}

/** POPOVERS **/
.popover {
    position: relative;
}

.popover>.popovertext {
    visibility: hidden;
    position: absolute;
    width: auto;
    height: auto;
    padding: var(--padding-input-y) var(--padding-input-x);
    background-color: var(--white) !important;
    border-radius: var(--border-radius);
    box-shadow: var(--shadow-medium);
    text-align: left;
    white-space: nowrap;
    z-index: 999;
    opacity: 0;
    transform: scale(0);
    transition: all 0.25s ease;
    transition-delay: 0.5s;
    cursor: text;
}

.popover.hover:hover>.popovertext,
.popover.focus:focus>.popovertext,
.popover.focus>input:focus+.popovertext {
    visibility: visible;
    opacity: 1;
    transform: scale(1);
}

.popover.hover>.popovertext.top,
.popover.focus>.popovertext.top,
.popover.focus>input:focus+.popovertext.top {
    bottom: calc(100% + 0.625rem);
    left: 50%;
    transform: translateX(-50%);
}

.popover.hover>.popovertext.bottom,
.popover.focus>.popovertext.bottom,
.popover.focus>input:focus+.popovertext.bottom {
    top: calc(100% + 0.625rem);
    left: 50%;
    transform: translateX(-50%);
}

.popover.hover>.popovertext.left,
.popover.focus>.popovertext.left,
.popover.focus>input:focus+.popovertext.left {
    right: calc(100% + 0.625rem);
    top: 50%;
    transform: translateY(-50%);
}

.popover.hover>.popovertext.right,
.popover.focus>.popovertext.right,
.popover.focus>input:focus+.popovertext.right {
    left: calc(100% + 0.625rem);
    top: 50%;
    transform: translateY(-50%);
}

.popover>.popovertext::after {
    content: "";
    position: absolute;
    width: 0.6rem;
    height: 0.6rem;
    transform: rotate(45deg);
    background-color: var(--white);
    z-index: -1;
}

.popover>.popovertext.top::after {
    top: calc(100% - 0.3rem);
    left: calc(50% - 0.3rem);
}

.popover>.popovertext.bottom::after {
    top: -0.3rem;
    left: calc(50% - 0.3rem);
}

.popover>.popovertext.left::after {
    top: calc(50% - 0.3rem);
    left: calc(100% - 0.3rem);
}

.popover>.popovertext.right::after {
    top: calc(50% - 0.3rem);
    left: -0.3rem;
}

.popover>.popovertext>form,
.popover>.popovertext>ul.list,
.popover>.popovertext>ol.list,
.popover>.popovertext>nav {
    margin: calc(-1 * var(--padding-input-y)) calc(-1 * var(--padding-input-x));
    border: 0 !important;
}

.popover>.popovertext>ul.list>li,
.popover>.popovertext>ol.list>li {
    border-left: var(--border-transparent) !important;
    border-right: var(--border-transparent) !important;
}

.popover>.popovertext>ul.list>li:first-child,
.popover>.popovertext>ol.list>li:first-child {
    border-top: var(--border-transparent) !important;
}

@media (max-width: 1024px) {
    .brand {
        display: none;
    }

    aside {
        display: none;
    }
}

@media (max-width: 800px) {
    article {
        flex-direction: column;
    }

    article>section {
        flex: 0 0 auto;
    }
}

/** ANIMATIONS **/
@keyframes fade {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes blink {
    0% {
        opacity: 1;
    }

    25% {
        opacity: 0.5;
    }

    50% {
        opacity: 1;
    }

    75% {
        opacity: 0.5;
    }

    100% {
        opacity: 1;
    }
}

@keyframes bounce {

    0%,
    20%,
    40%,
    60%,
    80%,
    100% {
        transform: translateY(0);
    }

    10% {
        transform: translateY(-1.5rem);
    }

    30% {
        transform: translateY(-1rem);
    }

    50% {
        transform: translateY(-0.5rem);
    }

    70% {
        transform: translateY(-0.25rem);
    }

    90% {
        transform: translateY(-0.125rem);
    }
}

@keyframes shake {

    0%,
    100% {
        transform: translateX(0);
    }

    10%,
    30%,
    50%,
    70%,
    90% {
        transform: translateX(-0.5rem);
    }

    20%,
    40%,
    60%,
    80% {
        transform: translateX(0.5rem);
    }
}

@keyframes swing {
    20% {
        transform: rotate(15deg);
    }

    40% {
        transform: rotate(-10deg);
    }

    60% {
        transform: rotate(5deg);
    }

    80% {
        transform: rotate(-5deg);
    }

    100% {
        transform: rotate(0deg);
    }
}

@keyframes wiggle {
    0% {
        transform: skewX(9deg);
    }

    10% {
        transform: skewX(-8deg);
    }

    20% {
        transform: skewX(7deg);
    }

    30% {
        transform: skewX(-6deg);
    }

    40% {
        transform: skewX(5deg);
    }

    50% {
        transform: skewX(-4deg);
    }

    60% {
        transform: skewX(3deg);
    }

    70% {
        transform: skewX(-2deg);
    }

    80% {
        transform: skewX(1deg);
    }

    90% {
        transform: skewX(0deg);
    }

    100% {
        transform: skewX(0deg);
    }
}

@keyframes append {
    0% {
        opacity: 0;
        transform: scale(0);
    }

    100% {
        opacity: 1;
        transform: scale(1);
    }
}